<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>Registra un nuovo utente</h3>
                    <form class="requires-validation" novalidate>
                        <div class="col-md-12">
                            <input class="form-control" type="text" name="name" placeholder="Nome">
                        </div>
                        <div class="col-md-12">
                            <input class="form-control" type="text" name="surname" placeholder="Cognome">
                        </div>
                        <div class="col-md-12">
                            <input class="form-control" type="text" name="age" placeholder="Età">
                        </div>
                        <div class="form-button mt-3">
                            <button (click)="closeForm()" class="btn btn-primary">Registra</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>